.root {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #fff4e2 !important;
  padding: 0 35px 0 10px;
  height: 60px;
  margin-bottom: 14px;
  z-index: 2;
}

.logo {
  width: 32px;
  height: 42px;
  margin-right: 25px;
  margin-left: 10px;
}

.avatar {
  margin-left: 15px;
  border-radius: 20% !important;
  margin-right: 6px;
}

.penButton {
  min-width: 40px !important;
  text-transform: inherit !important;
  font-size: 16px !important;
  letter-spacing: 0 !important;
}

.loginButton {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 15px;

  svg {
    margin-right: 10px;
  }

  &:hover {
    color: #29b241;
  }
}
.leftSide{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

