.titleField {
  margin-bottom: 20px;
  input {
    font-size: 36px !important;
    font-weight: 600 !important;
  }
  &:before,&:after{
    display: none;
  }
}
.editor{
  font-size: 18px;
  line-height: 1.2;
}

