.titleField {
  margin-bottom: 30px;

  input {
    font-size: 36px !important;
    font-weight: 600 !important;
  }

  //&:before, &:after {
  //  display: none;
  //}
}

.editor {
  line-height: 1.2;
  padding: 90px;
  font-size: 16px;
}

.writeForm {
  background-color: #fff;
  padding: 16px 80px;
  text-align: justify;
}
.editorWrapper{
  min-height: 100vh;
  margin-top: 15px;
}

