.title {
  font-weight: 500 !important;
  font-size: 22px !important;
}

.paper {
  border-radius: 8px !important;
  margin-bottom: 30px;
}
.titleHeader{
  display: flex;
  justify-content: space-between;
  a+a{
    font-size: 12px;
    color:grey
  }
}
